.js-preloader > .page-wrap,
.js-preloader > #home-banner {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.js-preloader.preloader-done > .page-wrap,
.js-preloader.preloader-done > #home-banner {
    opacity: 1;
}

#jpreContent {
    display: none;
}

#jpreLoader {
    top: 0 !important;
    height: 4px;
    width: 100%;
    text-align: right;
}

#jpreOverlay {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100% !important;
    top: 0 !important;
    position: fixed !important;
}

#jpreSlide {
    width: 100%;;
    text-align: right;
    top: auto !important;
    bottom: 50%;
}

#jpreBar {
	z-index: 2;
}

#jprePercentage {
    display: none;
}