.wpb_patch_team_member {
    padding-bottom: 30px;

    .team-member-image {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        .team-member-over {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: rgba( 0, 0, 0, 0.7 );
            color: #ffffff;
            transition: opacity 0.3s ease-in-out;

            span {
                display: block;
                margin-bottom: 10px;
                font-size: 13px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .team-member-content {
        text-align: center;

        p {
            color: #6e6e6e;
            padding: 0 10px;
        }
    }

    .team-member-content h3 {
        font-size: 16px;
        margin: 0 0 6px;
        padding-bottom: 2px;
        display: inline-block;
        text-transform: none;
        border-bottom: 1px solid #d75474;
    }

    .team-member-role {
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-medium-grey;
        margin-bottom: 6px;
    }

    .team-social-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        
        li {
            display: inline-flex;

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            a {
                display: inline-block;
                height: 30px;
                width: 30px;
                padding: 0;
                margin-left: 10px;
                border-radius: 50%;
                border: 2px solid;
                line-height: 27px;
                text-align: center;
                color: inherit;
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }
        }
    }

    &:hover {
        .team-member-image .team-member-over {
            opacity: 1;
        }
    }

}