h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3e3e3e;
}

p {
    margin-bottom: 1.5em;
}

.lead {
    font-size: 18px;
    line-height: inherit;
}

blockquote {
    margin: 30px 0;
    color: #999999;
    background-color: #f9f9f9;
    font-style: italic;
    overflow: hidden;

    cite {
        font-size: 13px;
        display: block;
        margin-top: 10px;
    }
}

small, figcaption {
    font-size: 12px;
}


// Table
table {
    empty-cells: show;
    border: 1px solid #eaeaea;
    margin: 18px 0px 0px 0px;

    thead {
        text-align: left;
        vertical-align: bottom;
    }

    td,
    th {
        background-color: transparent;
        border-left: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: 8px 18px 7px 18px;
        font-weight: 400;

        &:first-child {
            border-left-width: 0;
        }
    }
}

dl {
    margin: 18px 18px 0px 18px;

    dt {
        font-weight: 600;
        margin: 18px 0 0;

        &:first-child {
            margin-top: 0px;
        }
    }
}

ul, ol {
    padding: 0;
}

ol, ul {
    margin-left: 18px;
}

i, address, pre, code {
    font-style: italic;
}

cite {
    font-style: normal;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

pre {
    display: block;
    margin: 0px 0px 18px;
    padding: 18px 18px 18px 18px;
    font-family: Monaco,monospace;
    font-style: normal;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}