

// Colors
// $color-primary:         #e5472d;
$color-light-fill:      #f4f4f4;
$color-light-grey:      #aaaaaa;
$color-very-light-grey: #f0f0f0;
$color-medium-grey:     #999999;
$color-dark-grey:       #505050;
$color-black:           #000;
$color-white:           #ffffff;

$color-border:          #e5e5e5;



// Clearfix
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}